.modal-wrapper {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}
.modal {
  filter: opacity(100%);
  margin-top: -20vh;
  background-color: white;
}
