.modal-wrapper {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
.modal {
  filter: opacity(100%);
  margin-top: -30vh;
  background-color: var(--white);
  width: 30vw;
}
.logout-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.logout {
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1280px) {
  .modal {
    width: 50vw;
  }
}
@media only screen and (max-width: 992px) {
  .modal {
    width: 60vw;
  }
}
@media only screen and (max-width: 778px) {
  .modal {
    width: 90vw;
  }
}
