.search-form-input {
  border-radius: var(--border-radius-m);
  font-size: var(--is-4);
  border: solid var(--grey);
  height: 4.5rem;
  padding-left: 45px;
}
.text {
  margin-bottom: 0px;
  color: var(--font-dark);
  padding-top: 0px;
}
.current-price-text {
  margin-bottom: 0px;
  padding-top: 0px;
}
.result {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}
.result-data {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25rem;
  border-radius: 25px;
}
.result-thumbnail {
  width: 50px;
}
.search-input-div .search-icon {
  font-size: 30px;
}
