@import url("https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css");

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 0;
}

.error-image-wrapper {
  margin-top: 10vh;
  width: 500px;
}

.Toastify__toast-body {
  font-size: 1.5rem;
}

.dark-theme {
  --white: #212121;
  --input-background: #181a1b;
  --placeholder-darktheme: #7d7467;
}
input {
  background-color: var(--input-background);
  color: var(--placeholder-darktheme);
}
::placeholder {
  color: #7d7467;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #7d7467;
}
.btn-primary {
  color: var(--permanent-white);
}
.li-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.btn-small {
  color: var(--permanent-white);
}
.btn-secondary {
  color: var(--primary);
}
.form-div .form-input {
  width: 100%;
}
